
/*
    Стиль темы
*/

body {
    background: url("/static/img/body-bg.png") fixed;
    /*text-align: center;*/
    font-family: 'Verdana', serif !important;
}



.content-wrapper {
    width: 900px;
    margin: 0 auto;
}

.content {
    text-align: center;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}


nav {
    display: inline !important;
}

nav a, nav a:visited {
    text-decoration: none;
    font-size: 12px;
    color: #EACB06 ;
    background: #3B3B3B;
    padding: 10px;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
}

nav a:hover {
    background: #ffffff;
}

nav a:active {
    color: #ccc;
}

.top-bar {
    padding: 10px;
    width: 100%;
    background: #38ABE0;
    position: fixed;
    text-align: left;
    z-index: 10; /* Чтобы случаем не перекрыть тени у inp error*/
}

/*
 Формы и их элементы
*/
.btn {

    -moz-box-shadow:inset 0px 13px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 13px 0px 0px #ffffff;
    box-shadow:inset 0px 13px 0px 0px #ffffff;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);

    background-color:#ffffff;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;

    border:1px solid #dcdcdc;

    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:8px 8px;
    text-decoration:none;

    text-shadow:0px 1px 0px #ffffff;

}
.btn:hover {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);

    background-color:#f6f6f6;
}
.btn:active {
    position:relative;
    top:1px;
}



/*Сама форма*/
.form-container {
    border: 1px solid #8f877f;
    background: #f7f7f7;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    padding:20px;
}
.form-field {
    border: 1px solid #211e1b;
    background: #fcfcfc;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #1a1918;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
    padding:8px;
    margin-bottom:20px;
    width:280px;
}
.form-field:focus {
    background: #fff;
    color: #546159;
}
.form-container h2 {
    text-shadow: #ededed 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-bottom:10px;
    color: #5090c1;
    text-shadow: #ededed 0 1px 0;
}
.submit-container {
    margin:8px 0;
    text-align:center;

}

.form-element {
    text-align: left;
}
.form-element label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
    width: 170px;
}

.login-form {
    margin-top: 10px;
}
.form-req-field {
    color: #CA2A0C;
    display: inline;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: top;
}

.field-error {
    border: 1px solid #CA2A0C !important;
}

.form-help {
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-error {
    margin-left: 5px;
    display: none;
    color: #CA2A0C;
    font-size: 10px;
    position: relative;
    vertical-align: middle;
}


.shadow-s1 {
    position:relative;
    width:40%;
    padding:1em;
    background:#fff;
    border-radius:4px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-border-radius:4px;

}

.shadow-s1:before,
.shadow-s1:after {
    content:"";
    position:absolute;
    z-index:-2;
    bottom:15px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -ms-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.shadow-s1:after {
    right:10px;
    left:auto;
    -webkit-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    transform:rotate(3deg);
}

.inner-form {
    height: 20px;
    text-align: left;
    vertical-align: middle;
    padding: 15px;
    position: relative;
    background: #A6A6A6;
    display: none;

}

.inner-form .element {
    display: inline;
}

.inner-form label {
    font-size: 12px;
}

.inner-form label small {
    font-size: 10px;
    font-style: italic;
}

.inner-form input[type=text] {
    border: none;
    height: 20px;
}

.ctrl-lnk a {
    font-size: 12px;
    color: #346CEF;
    text-decoration: none;
}
.ctrl-lnk a:hover {
    color: #164DCA;
}

.form-all-errors {
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;

}

.form-all-errors ul li {
    margin-left: 20px;
}

.ul-errors {
    font-size: 12px;
}
li.li-error {
    color: #CA2A0C;
}

.sp-error {
    color: #000 !important;
}

.unvisible {
    display: none;
    min-height: 18px;
}

#sp-login-status {
    color: #CA2A0C;
    font-size: 12px;
    font-weight: bold;
}

.profile-container {
    padding: 20px;
    background-color: #fff;
    text-align: left;
    min-height: 200px;
}

.user-bar {
    display: inline;

}

.user-bar a, .user-bar a:visited {
    font-size: 10px;
    margin-left: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #D26D14;
}

.user-bar a:hover {
    font-size: 10px;
    color: #F38C30;
}
.signed {
    font-size: 12px;
    color: #CA2A0C;
    display: inline;
    border-left: 3px solid #CA2A0C;
    padding: 10px;
    font-weight: bold;
}

.img-user-image {
    width: 200px;
    height: 200px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 0px 0px 20px #000000;
    -webkit-box-shadow: 0px 0px 20px #000000;
    box-shadow: 0px 0px 20px #000000;
}


span.field {
    font-size: 14px;
}

.field-value {
    font-size: 12px;
}
.user-info {
    border: none;
    width: 90%;
}

.user-info td {
    vertical-align: middle;
}

.main-page-container {
    padding: 20px;
    text-align: center;
    min-height: 200px;

}

h1.welcome {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
}

.sp-user-name {
    width: 67px; overflow: hidden;
    display: inline-block;
}